.header {
  padding-top: 30px;

  .nav-item {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}