.section-teachers {
  padding-top: 54px;
  padding-bottom: 95px;
}

.section-teachers__title {
  color: $white;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-bottom: 38px;
}