.section-helpChoosing {
  padding-top: 65px;
  padding-bottom: 65px;
}

.section-helpChoosing__title {
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  margin-bottom: 11px;
}

.section-helpChoosing__text {
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  color: #CBCBCB;
  max-width: 514px;
  display: block;
  margin: 0 auto;
}

.section-helpChoosing__btn {
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  width: 359px;
  height: 54px;
}