.section-our-clients {
  padding-top: 110px;
  padding-bottom: 110px;
}

.section-our-clients__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 27px;
  display: block;
  color: #333333;
}

.section-our-clients__subtitle {
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  color: #444444;
  display: block;
}

.section-our-clients__slider {
  margin-top: 65px;
  margin-bottom: 75px;
}

.section-our-clients__slider-item {
  margin-right: 10px;
  margin-left: 10px;

  span {
    width: 218px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@media (max-width: 1300px) {
  .section-our-clients__slider {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 767.98px) {
  .section-our-clients__subtitle {
    font-size: 16px;
    line-height: normal;
  }

  .section-our-clients__slider {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 380px) {
  .section-our-clients__slider-item span {
    width: 100%;
    height: 100px;
  }
}