.section-what-learned {
  position: relative;
  padding-top: 46px;
  padding-bottom: 63px;
  z-index: 12;
}

.section-what-learned__title {
  text-transform: uppercase;
  text-align: center;
  display: block;
  color: #FFFFFF;
  margin-bottom: 36px;
}

.section-what-learned__item {
  display: flex;
  margin-bottom: 40px;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.section-what-learned__item-text {
  font-size: 16px;
  line-height: 24px;
  color: #CBCBCB;
  margin-bottom: 0;
}

.section-what-learned__item-img {
  margin-right: 30px;
  min-width: 50px;
  display: flex;
  justify-content: center;
}

.section-what-learned__list {
  max-width: 500px;
  padding-left: 20px;
  margin-bottom: 0;
}

.section-what-learned__videoWrapper {
  border-radius: 10px;
  background: #000000;
  border: 1px solid #828282;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  iframe {
    width: 100%;
    height: 360px;
  }
}

@media (max-width: 991.98px) {
  .section-what-learned__list {
    padding-left: 0;
    margin-bottom: 60px;
    max-width: 100%;
  }
}

@media (max-width: 767.98px) {
  .section-what-learned__title {
    font-size: 24px;
  }
}
