.section-course-selection {
  padding-top: 68px;
  padding-bottom: 70px;
}

.section-course-selection__title {
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  display: block;
  margin-bottom: 35px;
}