h1, .h1 {
  font-size: rem(48);
  line-height: rem(61);
  font-weight: 900;
}

h2, .h2 {
  font-size: rem(36);
  line-height: rem(45);
  font-weight: 900;
}

h3, .h3 {
  font-size: rem(32);
  line-height: rem(32);
}

.main-text {
  font-size: rem(16);
  line-height: rem(24);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.section-h2-title {
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $font-color-2;
  display: block;
}

.section-h3-title {
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: bold;
  display: block;
}

@media (max-width: 767.98px) {
  h2, .h2 {
    font-size: rem(24);
    line-height: normal;
  }

  h1, .h1 {
    font-size: rem(36);
    line-height: normal;
  }

  .section-first__title {
    .text-nowrap {
      white-space: normal !important;
    }
  }
}

@media (max-width: 575.98px) {
  .section-first__btnContainer {
    flex-direction: column;
  }

  .header__button {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .section-first__footer-list {
    flex-wrap: wrap;
  }

  .section-first__footer-logo {
    margin-bottom: 24px;
  }
}
