
// Fonts color
$font-color-1             : #6A6A6A !default;
$font-color-2             : #2F2A5E !default;
$font-color-3             : #DB1F7B !default;
$font-color-4             : #222222 !default;
$font-color-5             : #555555 !default;
$font-color-6             : #8C8C8C !default;
$font-color-7             : #E0575B !default;
$font-color-8             : #1F1E2C !default;

// Font
$mainFont                 : 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

// Background
$bg-gradient             : linear-gradient(269.01deg, #D41F7E 5.21%, #DB332E 85.36%) !default;

$circle-bg-1             : rgba(219, 51, 46, .1) !default;
$circle-bg-2             : rgba(219, 31, 123, .1) !default;
$circle-bg-3             : rgba(240, 151, 32, .1) !default;
$circle-bg-4             : rgba(0, 161, 227, .1) !default;
$circle-bg-5             : rgba(101, 45, 127, .1) !default;
$circle-bg-6             : rgba(0, 162, 155, .1) !default;
$circle-bg-7             : rgba(47, 42, 94, .1) !default;