.main-btn {
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-border-black {
  background: #1E203B;
  border: 1px solid #CC1237;
  color: #FFFFFF;

  &:hover {
    color: #FFFFFF;
  }
}

@media (max-width: 767.98px) {
  .main-btn {
    font-size: 14px;
  }
}