.media-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.media-container-v1__icon {
  min-height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}

.media-container-v1__title {
  font-weight: 900;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  display: block;
  margin-bottom: 7px;
}

.media-container-v1__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #555555;
}

@media (max-width: 767.98px) {
  .media-container-v1__title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
  }

  .media-container-v1__text {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 0;
  }

  .media-container-v1 {
    margin-bottom: 26px;
  }

  .media-container-v1__icon {
    margin-bottom: 19px;
    min-height: 40px;
    height: 40px;
    max-width: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}
