.sliderFirst__title {
  font-weight: bold;
  font-size: rem(18);
  line-height: rem(22);
  color: #FFFFFF;
}

.sliderFirst__subTitle {
  font-size: rem(16);
  line-height: rem(19);
  color: #FFFFFF;
  margin-bottom: 11px;
  display: block;
}

.sliderFirst__text {
  font-size: rem(16);
  line-height: rem(19);
  color: #FFFFFF;
  margin-bottom: 0;
  display: block;
}

.sliderFirst__img-wrapper {
  border-radius: 10px;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.sliderFirst__item {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 90.32%);
  border-radius: 10px;
  max-width: 357px;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
  opacity: 0.5;
  height: auto;
  min-height: 736px;

   &:focus {
     outline: none;
   }
}

.sliderFirst {
  .slick-active {
    opacity: 1;
  }

  &.arrow-slider {
    .slick-next {
      right: 50px;
    }

    .slick-prev {
      left: 50px;
    }
  }

  .slick-track {
    display: flex;
  }

}

.sliderFirst__content {
  padding: 16px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}



///////////////////////////////////////////

.sliderSecond {
  .slick-list {

  }
}

.sliderSecond__item {
  display: flex !important;
  overflow: hidden;
  padding-bottom: 60px;

  &:focus {
    outline: none;
  }
}

.sliderSecond__body {
  padding: 15px 10px 5px 30px;
  display: flex;
  flex-direction: column;
}

.sliderSecond__title {
  font-weight: bold;
  font-size: rem(24);
  line-height: rem(24);
  color: #333333;
  display: block;
  margin-bottom: 5px;
}

.sliderSecond__subTitle {
  font-size: rem(16);
  line-height: rem(24);
  color: #777777;
  display: block;
  margin-bottom: 14px;
}

.sliderSecond__text {
  font-size: rem(16);
  line-height: rem(24);
  color: #333333;
  margin-bottom: 0;
}

.arrow-slider {
  .slick-next, .slick-prev {
    top: 45%;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    border: 1px solid #663755;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 14px;
      height: 23px;
      display: block;
      background: url("../img/arrow-right-slider.svg") no-repeat center;
      background-size: 100% auto;
    }
  }

  .slick-next {
    right: -100px;
  }

  .slick-prev {
    left: -100px;

    &:before {
      content: '';
      transform: rotate(180deg) translate(50%, 50%);
    }
  }
}

.sliderSecond__imgWrap {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: calc(100% - 100px);
    height: 38px;
    background: #643755;
    filter: blur(44px);
    border-radius: 22px;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
  }
}

@media (max-width: 1400px) {
  .section-our-clients__slider {
    .slick-prev {
      left: -40px;
    }

    .slick-next {
      right: -40px;
    }
  }
}

@media (max-width: 1300px) {
  .section-our-clients__slider {
    .slick-prev {
      left: 0;
    }

    .slick-next {
      right: 0;
    }
  }
}


@media (max-width: 1199.98px) {
  .sliderSecond__imgWrap {
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;

    &:before {
      bottom: 0;
    }
  }
}

@media (max-width: 998px) {
  .sliderSecond__item {
    display: block !important;
  }

  .sliderSecond__imgWrap {
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;
  }

  .sliderSecond__body {
    display: block;
    padding: 0;
  }


}

@media (max-width: 767.98px) {
  .arrow-slider .slick-next, .arrow-slider .slick-prev {
    width: 38px;
    height: 38px;
  }

  .sliderFirst.arrow-slider .slick-prev {
    left: 15px;
  }

  .sliderFirst.arrow-slider .slick-next {
    right: 15px;
  }

  .sliderSecond {
    .slick-prev {
      left: -40px;
    }

    .slick-next {
      right: -40px;
    }
  }

  .arrow-slider .slick-next:before, .arrow-slider .slick-prev:before {
    width: 11px;
  }

  .sliderFirst__item {
    min-height: 614px;
  }
}

@media (max-width: 575.98px) {
  .sliderSecond__item {
    display: flex!important;
    flex-direction: column;
    padding-bottom: 40px;
  }

  .sliderSecond__imgWrap {
    float: initial;
    display: inline-flex;
    margin-right: auto;
    margin-left: auto;

    img {
      max-width: 100%;
    }
  }

  .sliderSecond {
    .slick-next, .slick-prev {
      top: 100%;
    }
  }

  .sliderSecond .slick-prev {
    left: 30%;
  }

  .sliderSecond .slick-next {
    right: 30%;
  }

  .sliderFirst__item {
    margin-bottom: 60px;
  }

  //.sliderFirst.arrow-slider {
  //  .slick-next, .slick-prev {
  //    top: 100%;
  //  }
  //
  //  .slick-prev {
  //    left: auto;
  //    right: 55%;
  //  }
  //
  //  .slick-next {
  //    right: auto;
  //    left: 55%;
  //  }
  //}

  .sliderFirst__text {
    font-size: 14px;
    line-height: normal;
  }
}
