.tab-container {
  overflow: hidden;
  transition: height 0.3s;
  height: 0;
  background: #FFFFFF;
  box-shadow: inset 0px -5px 36px rgba(0, 0, 0, 0.1);

  &.testClass {
    height: 900px;
    transition: height 0.3s;
  }

  &.active {
    height: 100%;
    padding-bottom: 70px;
  }
}

@media (max-width: 991.98px) { 
  .tab-content-wrapper {
    display: none;
  }

  .tab-content-wrapper_complex-plus {
    display: block;
  }
}

@media (max-width: 767.98px) {
  .tab-container.active {
    padding-bottom: 50px;
    display: block;
    height: auto;
  }

  .tab-container.testClass {
    display: block;
    height: auto;
  }

  .tab-container {
    display: none;
    height: auto;
  }
}
