.topic-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(25% - 14px);
  margin-left: 7px;
  margin-right: 7px;
  border-radius: 10px;
  padding-top: 18px;
  min-height: 150px;
  height: 100%;
  transition: 0.2s;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  z-index: 2;
  background: #fff;
}

.topic-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  padding-top: 40px;
  position: relative;
  z-index: 2;
  span {
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.topic-block__icon {
  border: 1px solid #C5C5C5;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 16px;
  background: #fff;
}

.topic-block__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #676767;
}

.section-complex-plus__wrapper.active {


  .topic-block__title {
    color: #333333;
  }
  
  .bg-linear-gradient-1 {
    .topic-block__icon {
      border-color: #3BBF78;
    }
  }

  .bg-linear-gradient-2 {
    .topic-block__icon {
      border-color: #fe7500;
    }
  }

  .bg-linear-gradient-3 {
    .topic-block__icon {
      border-color: #1D1D1D;
    }
  }

  .bg-linear-gradient-4 {
    .topic-block__icon {
      border-color: #7CA843;
    }
  }

  .bg-linear-gradient-7 {
    .topic-block__icon {
      border-color: #D34857;
    }
  }

  .bg-linear-gradient-5 {
    .topic-block__icon {
      border-color: #01AEE8;
    }
  }

  .bg-linear-gradient-9 {
    .topic-block__icon {
      border-color: #1C15A6;
    }
  }

  .bg-linear-gradient-10 {
    .topic-block__icon {
      border-color: #5F2797;
    }
  }
}

.tab-content-wrapper_complex-plus {
  margin-top: -10px;
}

@media (max-width: 1199.98px) {
  .topic-block {
    width: calc(33.3% - 22px);
  }
  .topic-block {
    margin: 0px;
    box-shadow: none;
    min-height: 178px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    background: transparent;
  }

  .section-complex-plus__container:before {
    left: 4%;
    right: 4%;
    bottom: 66px;
  }
  .see-all-program {
    margin: 31px auto 20px;
  }

}

@media (max-width: 991.98px) {
  .topic-block {
    min-height: auto;
  }
  .section-complex-plus__container {
    border-radius: 20px;
  }
  .section-complex-plus__container:before {
    display: none;
  }



  .section-complex-plus__wrapper {
    padding: 25px;



    .topic-block__title {
      color: #333333;
    }

    .bg-linear-gradient-1 {
      .topic-block__icon {
        border-color: #3BBF78;
      }
    }

    .bg-linear-gradient-2 {
      .topic-block__icon {
        border-color: #fe7500;
      }
    }

    .bg-linear-gradient-3 {
      .topic-block__icon {
        border-color: #1D1D1D;
      }
    }

    .bg-linear-gradient-4 {
      .topic-block__icon {
        border-color: #7CA843;
      }
    }

    .bg-linear-gradient-7 {
      .topic-block__icon {
        border-color: #D34857;
      }
    }

    .bg-linear-gradient-5 {
      .topic-block__icon {
        border-color: #01AEE8;
      }
    }

    .bg-linear-gradient-9 {
      .topic-block__icon {
        border-color: #1C15A6;
      }
    }

    .bg-linear-gradient-10 {
      .topic-block__icon {
        border-color: #5F2797;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .section-complex-plus__block-circle {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }

  .topic-title {
    padding-top: 20px;
    font-size: 18px;
  }

  .price-desc {
    font-size: 36px;
    line-height: 24px;
  }

  .topic-block {
    padding-bottom: 0;
  }

  .section-complex-plus__block-text {
    font-size: 18px;
  }

  .multichannel-icon {
    width: 57px;
  }

  .see-all-program {
    font-size: 16px;
    margin-top: 40px;
  }

  .topic-block__icon {
    margin-bottom: 12px;
    width: 49px;
    height: 49px;

    i {
      max-width: 60%;
    }
  }

  .topic-block__title {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
  }

  .section-complex-plus__wrapper .topic-block {
    border: none !important;
  }

  .section-complex-plus__wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 27px;
    padding-bottom: 30px;
  }

  .section-complex-plus__btn {
    width: 163px;
    min-width: 163px;
    height: 46px;
    min-height: 46px;

    span, a {
      height: 46px;
    }
  }
}
