html, body {
  font-family: 'Gilroy', sans-serif;
}

body.active {
  overflow: hidden;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar-collapse {
  flex-grow: 0;
}

.text-decoration-underline {
  text-decoration: underline;
}

.bg-color {
  background: rgba(30, 32, 60, 0.7);
}

.bg-color-2 {
  background: linear-gradient(180deg, #663755 3.04%, #1E203C 100%);
}

.bg-color-3 {
  background: linear-gradient(96.78deg, #FFF0FC 10.9%, #FFF7FD 38.91%, #F7ECFF 64.8%, #F4F3FF 93.74%);
}

.form-control {
  border: 2px solid #616161;
  font-size: 18px;
  line-height: 24px;
  color: #555555;
  margin-bottom: 24px;
  border-radius: 0;
  font-family: 'Roboto', sans-serif;

  &:focus {
    box-shadow: none;
    border-color: #616161;
  }
}

.video-js {
  max-height: 100% !important;
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-linear-gradient-1 {
  background: $linear-gradient-1;
}

.bg-linear-gradient-2 {
  background: $linear-gradient-2;
}

.bg-linear-gradient-3 {
  background: $linear-gradient-3;
}

.bg-linear-gradient-4 {
  background: $linear-gradient-4;
}

.bg-linear-gradient-5 {
  background: $linear-gradient-5;
}

.bg-linear-gradient-6 {
  background: $linear-gradient-6;
}

.bg-linear-gradient-7 {
  background: $linear-gradient-7;
}

.bg-linear-gradient-8 {
  background: $linear-gradient-8;
}

.bg-linear-gradient-9 {
  background: $linear-gradient-9;
}

.bg-linear-gradient-10 {
  background: $linear-gradient-10;
}

.bg-linear-gradient-11 {
  background: $linear-gradient-11;
}

.bg-linear-gradient-12 {
  background: $linear-gradient-12;
}

.bg-linear-gradient-13 {
  background: $linear-gradient-13;
}

.bg-linear-gradient-14 {
  background: $linear-gradient-14;
}

.shadowColor-1 {
  &:before {
    background: #269885;
  }

  &.active {
    .section-course-selection__block-img {
      border-color: #3BBF78 !important;
    }

    .section-course-selection__block-btn {
      border-color: #3BBF78;

      a, span {
        color: #3BBF78 !important;
      }
    }
  }

  &.active:before {
      background: #269885;
  }
}

.shadowColor-2 {
  &:before {
    background: #FE7500;
  }

  &.active:before {
      background: #FE7500;
  }

  &.active {
    .section-course-selection__block-img {
      border-color: #FE7500 !important;;
    }

    .section-course-selection__block-btn {
      border-color: #FE7500;

      a, span {
        color: #fe7500 !important;
      }
    }
  }
}


.shadowColor-3 {

  .section-course-selection__block-btnVideo {
    background: rgba(15,15,15,.5) !important;

    &:hover {
      background: rgba(15,15,15,.9) !important;
    }
  }

  &:before {
    background: #4D1260;
  }

  &.active:before {
      background: #4D1260;
  }

  &.active {

    .section-course-selection__block-btnVideo {
      background: rgba(15,15,15,.1) !important;

      &:hover {
        background: rgba(15,15,15,.5) !important;
      }
    }

    .section-course-selection__block-img {
      border-color: #4D1260 !important;
    }

    .section-course-selection__block-btn {
      border-color: #4D1260;


      a, span {
        color: #4D1260 !important;
      }
    }
  }
}

.shadowColor-4 {
  &:before {
    background: #B02B3C;
  }

  &.active:before {
    background: #B02B3C;
  }

  &.active {
    .section-course-selection__block-img {
      border-color: #B02B3C !important;
    }

    .section-course-selection__block-btn {
      border-color: #B02B3C;

      a, span {
        color: #B02B3C !important;
      }
    }
  }
}

.shadowColor-5 {
  &:before {
    background: #209BD0;
  }

  &.active:before {
    background: #209BD0;
  }

  &.active {
    .section-course-selection__block-img {
      border-color: #209BD0 !important;
    }

    .section-course-selection__block-btn {
      border-color: #209BD0;

      a, span {
        color: #209BD0 !important;
      }
    }
  }
}

.shadowColor-6 {
  &:before {
    background: #2C2E7E;
  }

  &.active:before {
    background: #2C2E7E;
  }

  &.active {
    .section-course-selection__block-img {
      border-color: #2C2E7E !important;
    }

    .section-course-selection__block-btn {
      border-color: #2C2E7E;

      a, span {
        color: #2C2E7E !important;
      }
    }
  }
}

.shadowColor-7 {
  &:before {
    background: #4D1260;
  }

  &.active:before {
    background: #4D1260;
  }

  &.active {
    .section-course-selection__block-img {
      border-color: #4D1260 !important;
    }

    .section-course-selection__block-btn {
      border-color: #4D1260;

      a, span {
        color: #4D1260 !important;
      }
    }
  }
}

.shadowColor-8 {
  &:before {
    background: #2C2E7E;
  }

  &.active:before {
    background: #2C2E7E;
  }

  &.active {
    .section-course-selection__block-img {
      border-color: #2C2E7E !important;
    }

    .section-course-selection__block-btn {
      border-color: #2C2E7E;

      a, span {
        color: #2C2E7E !important;
      }
    }
  }
}

.shadowColor-9 {
  &:before {
    background: #C11C7F;
  }

  &.active:before {
    background: #C11C7F;
  }

  &.active {
    .section-course-selection__block-img {
      border-color: #C11C7F !important;
    }

    .section-course-selection__block-btn {
      border-color: #C11C7F;

      a, span {
        color: #C11C7F !important;
      }
    }
  }
}

.shadowColor-10 {
  &:before {
    background: #C11C7F;
  }

  &.active:before {
    background: #C11C7F;
  }

  &.active {
    .section-course-selection__block-img {
      border-color: #C11C7F !important;
    }

    .section-course-selection__block-btn {
      border-color: #C11C7F;

      a, span {
        color: #C11C7F !important;
      }
    }
  }
}

.shadowColor-11 {
  &:before {
    background: #211DBE
  }

  &.active:before {
    background: #211DBE
  }

  &.active {
    .section-course-selection__block-img {
      border-color: #211DBE !important;
    }

    .section-course-selection__block-btn {
      border-color: #211DBE;

      a, span {
        color: #211DBE !important;
      }
    }
  }
}

.shadowColor-12 {
  &:before {
    background: #1DBEB5
  }

  &.active:before {
    background: #1DBEB5
  }

  &.active {
    .section-course-selection__block-img {
      border-color: #1DBEB5 !important;
    }

    .section-course-selection__block-btn {
      border-color: #1DBEB5;

      a, span {
        color: #1DBEB5 !important;
      }
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bg-footer {
  background: url("../img/bg-footer.jpg") no-repeat center;
  background-size: cover;
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1210px;
  }
}

@media (max-width: 767.98px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
