html, body {
  font-family: 'Gilroy', sans-serif;
}

body.active {
  overflow: hidden;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar-collapse {
  flex-grow: 0;
}

.text-decoration-underline {
  text-decoration: underline;
}

.bg-color {
  background: linear-gradient(180deg, #663755 3.04%, #1E203C 100%);
}

.form-control {
  border: 2px solid #616161;
  font-size: 18px;
  line-height: 24px;
  color: #555555;
  margin-bottom: 24px;
  border-radius: 0;
  font-family: 'Roboto', sans-serif;

  &:focus {
    box-shadow: none;
    border-color: #616161;
  }
}

//.tab-container {
//  display: none;
//}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1210px;
  }
}

@media (max-width: 767.98px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}