.alipay-logo {
  background: url("../img/alipay-logo.png") no-repeat center;
  background-size: 100% auto;
  width: 150px;
  height: 52px;
  display: block;
}

.wp-logo {
  background: url("../img/wp-logo.png") no-repeat center;
  background-size: 100% auto;
  width: 150px;
  height: 46px;
  display: block;
}

.sendy-logo {
  background: url("../img/sendy-logo.png") no-repeat center;
  background-size: 100% auto;
  width: 110px;
  height: 55px;
  display: block;
}

.client-logo-1 {
  background: url("../img/client-logo-1.png") no-repeat center;
  background-size: 100% auto;
  width: 218px;
  height: 96px;
  display: block;
}

.client-logo-2 {
  background: url("../img/client-logo-2.png") no-repeat center;
  background-size: 100% auto;
  width: 218px;
  height: 96px;
  display: block;
}

.client-logo-3 {
  background: url("../img/client-logo-3.png") no-repeat center;
  background-size: 100% auto;
  width: 218px;
  height: 96px;
  display: block;
}

.client-logo-4 {
  background: url("../img/client-logo-4.png") no-repeat center;
  background-size: 100% auto;
  width: 218px;
  height: 96px;
  display: block;
}

.client-logo-5 {
  background: url("../img/client-logo-5.png") no-repeat center;
  background-size: 100% auto;
  width: 218px;
  height: 96px;
  display: block;
}

.arrow-right {
  background: url("../img/arrow-right.svg") no-repeat center;
  background-size: 100% auto;
  width: 28px;
  height: 79px;
  display: block;
}

.social-network-china {
  background: url("../img/social-network-china.svg") no-repeat center;
  background-size: 100% auto;
  width: 46px;
  height: 50px;
  display: block;
}

.social-media-1 {
  background: url("../img/social-media-1.svg") no-repeat center;
  background-size: 100% auto;
  width: 50px;
  height: 50px;
  display: block;
}

.account-icon {
  background: url("../img/account-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 45px;
  height: 45px;
  display: block;
}

.social-media-2 {
  background: url("../img/social-media-2.svg") no-repeat center;
  background-size: 100% auto;
  width: 44px;
  height: 44px;
  display: block;
}

.phone-icon {
  background: url("../img/phone-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 18px;
  height: 19px;
  display: block;
}

.email-phone {
  background: url("../img/email-phone.svg") no-repeat center;
  background-size: 100% auto;
  width: 18px;
  height: 14px;
  display: block;
}

.facebook-footer {
  background: url("../img/facebook-footer.svg") no-repeat center;
  background-size: 100% auto;
  width: 20px;
  height: 20px;
  display: block;
}

.telegram-icon {
  background: url("../img/telegram-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 20px;
  height: 18px;
  display: block;
}

.time-icon {
  background: url("../img/time-f.svg") no-repeat center;
  background-size: 100% auto;
  width: 20px;
  height: 20px;
  display: block;
}

.footer-logo {
  background: url("../img/footer-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 127px;
  height: 32px;
  display: block;
}

.student-icon {
  background: url("../img/student-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 67px;
  height: 67px;
  display: block;
}

.salesman-icon {
  background: url("../img/salesman-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 69px;
  height: 69px;
  display: block;
}

.guru-master-icon {
  background: url("../img/guru-master-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 39px;
  height: 62px;
  display: block;
}