.alipay-logo {
  background: url("../img/alipay-logo.png") no-repeat center;
  background-size: 100% auto;
  width: 150px;
  height: 52px;
  display: block;
}

.wp-logo {
  background: url("../img/wp-logo.png") no-repeat center;
  background-size: 100% auto;
  width: 150px;
  height: 46px;
  display: block;
}

.sendy-logo {
  background: url("../img/sendy-logo.png") no-repeat center;
  background-size: 100% auto;
  width: 110px;
  height: 55px;
  display: block;
}