.tab-container {
  overflow: hidden;
  transition: height 0.3s;
  height: 0;

  &.testClass {
    height: 900px;
    transition: height 0.3s;
  }

  &.active {
    height: 100%;
  }
}

@media (max-width: 991.98px) { 
  .tab-content-wrapper {
    display: none;
  }
}