.footer {
  padding-top: 67px;
}

.footer__section {
  padding-bottom: 38px;
}

.footer__container {
  background: rgba(23, 25, 49, 0.9);
}

.footer__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 20px;
  display: block;
}

.footer__text {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  color: #E9E9E9;
}

a.footer__text:hover {
  color: #E9E9E9;
}

.footer__block {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  flex-wrap: wrap;
}

.footer__box {
  width: 290px;
  margin-left: auto;
}

.footer__block-logo {
  width: 33%;
  display: flex;
  margin-bottom: 18px;
  padding-left: 4px;
}

.footer__container-wrapper {
  padding: 20px 0 13px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__container-text {
  font-size: 16px;
  line-height: 24px;
  color: #E9E9E9;
  margin-bottom: 0;
}

.footer__linkSmall {
  font-size: 14px;
  line-height: 23px;
  display: block;
}

@media (max-width: 991.98px) {
  .footer__container-wrapper {
    flex-direction: column;
    padding-bottom: 31px;
    padding-top: 24px;
  }

  .footer__container-text {
    margin-bottom: 20px;
  }

  .footer__box {
    margin-left: 0;
  }

}

@media (max-width: 767.98px) {
  .footer__wrapper {
    margin-bottom: 40px;
  }

  .footer {
    padding-top: 21px;
  }
}

@media (max-width: 575.98px) {
  .footer__box {
    width: 100%;
  }
}
