.header {
  padding-top: 10px;
  background: rgba(0, 0, 0, .6);

  .nav-item {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
  }

  .navbar-brand {
    display: flex;
    align-items: center;

    a {
      font-size: 18px;
      line-height: 22px;
      color: #FFFFFF;
    }

    span {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.header__button {
  width: 251px;
  height: 50px;
  margin-left: 8px;
  margin-right: 8px;

  &.btn-light {
    color: #CC1237;
  }
}

@media (max-width: 1199.98px) {
  .header__navbar {
    .navbar-collapse {
      background: #ffffff;
      z-index: 100;
      border-radius: 5px;
      padding: 10px;
      padding-top: 0;
      padding-bottom: 0;
      flex-basis: auto;
      position: absolute;
      top: 100%;
      right: 16px;
      width: 210px;
      box-shadow: 0 0 29px rgba(0,0,0,.3);
    }
  }

  .header .nav-item {
    font-size: 14px;
    color: #3d3c3b !important;
  }

  .hamburger {
    box-shadow: none;
    outline: none;
    padding: 0;
    position: relative;
    border: 1px solid;
    border-color: #D8D8D8 !important;
    border-radius: 9px;
    width: 33px;
    height: 33px;

    span {
      transition: 0.3s;
    }

    &:focus {
      box-shadow: none;
      outline: none;
    }

    .l1 {
      position: absolute;
      top: 33%;
      transform: translateY(-50%);
      left: 7px;
      height: 2px;
      background: #fff;
      width: 15px;
      border-radius: 1px;
    }

    .l2 {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 7px;
      height: 2px;
      background: #fff;
      width: 15px;
      border-radius: 1px;
    }

    .l3 {
      position: absolute;
      top: 68%;
      transform: translateY(-50%);
      left: 7px;
      height: 2px;
      background: #fff;
      width: 15px;
      border-radius: 1px;
    }
  }

  .hamburger:not(.collapsed) {
    span {
      transition: 0.3s;
    }

    .l1 {
      transform: rotate(-45deg);
      top: 15px;
    }

    .l2 {
      opacity: 0;
    }

    .l3 {
      transform: rotate(45deg);
      top: 15px;
    }
  }
}

@media (max-width: 767.98px) {
  .header {
    padding-top: 0;
  }

  .header__navbar {
    padding-left: 0;
    padding-right: 0;
  }

  .header__navbar .navbar-collapse {
    right: 0;
  }

  .header .navbar-brand a {
    font-size: 14px;
    line-height: 21px;
  }

  .header__button {
    height: 44px;
    font-size: 12px;
  }
}

@media (max-width: 470px) {
  .header .navbar-brand {
    flex-direction: column;
    align-items: flex-start;
  }

  .header .navbar-brand span {
    display: none;
  }
}
