.section-course-selection {
  padding-top: 68px;
  padding-bottom: 50px;
}

.section-course-selection__title {
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  display: block;
  margin-bottom: 35px;
}

.section-course-selection__block-ul {
  margin-bottom: 31px;
  list-style-type: none;
  width: 100%;
  margin-top: 20px;
}

.section-course-selection__block-li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;

  &:last-child {
    margin-bottom: 0 !important;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 11px;
    width: 9px;
    height: 3px;
    border-radius: 20%;
    background: #FFFFFF;
  }

  p {
    font-size: rem(16);
    line-height: rem(24);
    color: #FFFFFF;
    margin-bottom: 0;
  }
}

.ul-v1 {
  p {
    font-size: 15px;
    line-height: 18px;
  }
}

.ul-v2 {
  margin-top: 36px;

  .section-course-selection__block-li {
    margin-bottom: 30px;

    p {
      font-weight: bold;
      font-size: 24px;
      line-height: 18px;
      color: #FFFFFF;
    }
  }
}

.ul-v3 {
  .section-course-selection__block-li {
    margin-bottom: 33px;
  }
}

.ul-v4 {
  margin-top: 37px;

  .section-course-selection__block-li {
    margin-bottom: 25px;

    p {
      font-size: 16px;
    }
  }
}

.ul-v5 {
  margin-top: 24px;

  p {
    font-size: 16px;
  }

  .section-course-selection__block-li {
    margin-bottom: 12px;
  }
}

.ul-v6 {
  margin-top: 31px;

  p {
    font-weight: bold;
    font-size: 24px;
    line-height: 18px;
    color: #FFFFFF;
  }

  .section-course-selection__block-li {
    margin-bottom: 37px;
  }
}

.ul-v7 {
  margin-top: 30px;

  p {
    font-size: 16px;
  }

  .section-course-selection__block-li {
    margin-bottom: 25px;
  }
}

.ul-v8 {
  margin-top: 26px;

  p {
    font-size: 16px;
  }

  .section-course-selection__block-li {
    margin-bottom: 14px;
  }
}

.section-course-selection__block-subTitle {
  font-weight: bold;
  font-size: rem(18);
  line-height: rem(24);
  text-align: center;
  color: #FCFCFC;
  min-height: 48px;
  margin-bottom: 14px;
}

.section-course-selection__block {
  box-shadow: 0 10px 20px rgba(30, 32, 59, 0.3);
  border-radius: 10px;
  height: 100%;
  min-height: 723px;
  position: relative;
  display: flex;
  flex-direction: column;

  &:after {
    content: '';
    background: #ffffff;
    height: 0;
    position: absolute;
    top: calc(100% - 5px);
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: 0.3s;
    z-index: 1;
  }

  &.active {
    background: #ffffff;

    &:before {
      height: 100px;
      bottom: -100px;
      transition: 0.3s;
      width: 100%;
      filter: blur(60px);
    }

    .section-course-selection__block-wrapper {

      &:before {
        opacity: 1;
        transition: 0.3s;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .section-course-selection__block-img {
      border-color: #5B3451;
      transition: border-color 0.3s;
    }

    .section-course-selection__block-title {
      color: #333333;
      transition: color 0.3s;
    }

    .section-course-selection__block-li p {
      color: #333333;
      transition: color 0.3s;
    }

    .section-course-selection__block-li:before {
      background: #333333;
    }

    .section-course-selection__block-btnVideo {
      color: #333333;
    }

    .youtube-icon {
      background: url("../img/youtube-black-icon.svg") no-repeat center;
      background-size: 100% auto;
    }

    .section-course-selection__block-subTitle {
      color: #333333;
      transition: color 0.3s;
    }

    .section-course-selection__block-text {
      color: #777777;
      transition: color 0.3s;
    }

    .section-course-selection__block-btn {
      color: #CC1237;
      background: #ffffff;
      transition: 0.3s;
    }

    .student-icon {
      background: url("../img/student-black.svg") no-repeat center;
      background-size: 100% auto;
    }

    .salesman-icon {
      background: url("../img/salesman-black.svg") no-repeat center;
      background-size: 100% auto;
    }

    .guru-master-icon {
      background: url("../img/guru-master-black.svg") no-repeat center;
      background-size: 100% auto;
    }
  }

  &:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(77, 18, 96, .5);
    filter: blur(20px);
    border-radius: 22px;
    width: calc(100% - 40px);
    height: 10px;
    transition: 0.3s;
  }

  &.active:after {
    height: 100px;
    opacity: 1;
    transition: height 0.1s, opacity 0.1s;
  }
}

.section-course-selection__block-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 33px 30px 31px 30px;
  height: 100%;
  min-height: 490px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  transition: 0.3s;

  * {
    position: relative;
    z-index: 1;
  }
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #ffffff;
    opacity: 0;
    transition: 0.3s;
  }
}

.section-course-selection__block-img {
  width: 120px;
  height: 120px;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  .wechat-icon {
    width: 69px;
    height: 60px;
  }
}

.section-course-selection__block-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  display: block;
  margin-bottom: 7px;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 26px;
}

.section-course-selection__block-text {
  font-size: 16px;
  line-height: 24px;
  color: #CBCBCB;
}

.section-course-selection__block-btn {
  margin-top: auto;
  width: 239px;
  height: 56px;
  padding: 0;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}

.section-course-selection__block-btn .section-course-selection__block-btn-close {
  display: none;
}

.section-course-selection__block.active {
  .section-course-selection__block-btn-close {
    display: flex;
  }
  
  .section-course-selection__block-btn-open {
    display: none;
  }
}

.section-course-selection__mobil {
  display: none;
}

.section-course-selection__block-btnVideo {
  background: rgba(15, 15, 15, .1);
  border-radius: 25px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  height: 50px;
  width: 100%;
  max-width: 311px;
  margin-left: auto;
  margin-right: auto;

  &:hover {
    background: rgba(15, 15, 15, .5);
    color: #FFFFFF;
  }
}

.section-complex-plus__btn .section-course-selection__block-btn-close {
  display: none;
}

.section-complex-plus__wrapper.active {
  .section-complex-plus__btn .section-course-selection__block-btn-close {
    display: flex;
  }

  .section-complex-plus__btn .section-course-selection__block-btn-open {
    display: none;
  }
}

.section-course-selection__block-mobContent {
  display: flex;
  flex-direction: column;
}

.section-course-selection__block-iconBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.section-course-selection__block-iconBlock-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.section-course-selection__block-iconBlock-icon-1 {
  left: 0;
}

.section-course-selection__block-iconBlock-icon-2 {
  right: 20px;
}

@media (max-width: 1199.98px) {
  .section-course-selection__block-title {
    width: 100% !important;
    font-size: 20px;
    line-height: 24px;
  }
  
  .section-course-selection__block-iconBlock-icon {
    display: none !important;
  }
  
  .section-course-selection__block-iconBlock {
    span {
      display: none !important;
    }
  }
}

@media (max-width: 991.98px) {
  .section-course-selection__mobil {
    display: block;
  }
  
  .section-course-selection__dt {
    display: none;
  }

  .section-course-selection__block {
    min-height: auto;
  }

  .section-course-selection__block-wrapper {
    flex-direction: row;
    padding: 22px 10px 25px 22px;
  }

  .section-course-selection__block-title {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  .section-course-selection__block-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FCFCFC;
    margin-bottom: 13px;
  }

  .section-course-selection__block-img {
    width: 80px;
    height: 80px;
    min-width: 80px;
    margin-right: 18px;

    i {
      max-width: 60%;
    }
  }

  .section-course-selection__block-btn {
    margin-top: 0 !important;
    margin-left: 10px;
    width: 140px;
    min-width: 140px;
    height: 46px;

    span {
      font-size: 12px;
      line-height: 20px;
    }
  }

  .section-course-selection__block-btnVideo {
    width: 54px;
    height: 46px;
    margin-left: 0;
    margin-right: 10px;
  }

  .section-course-selection__block.active .youtube-icon {
    background: url("../img/youtube-active.svg") no-repeat center;
    background-size: 100% auto;
  }

  .section-course-selection__block-wrapper {
    align-items: flex-start;
  }
}

@media (max-width: 767.98px) {

  .section-course-selection {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section-course-selection__title {
    font-size: 26px;
  }
}
