.section-questions {
  padding-top: 75px;
  padding-bottom: 36px;
}

.section-questions__title {
  text-transform: uppercase;
  display: block;
  margin-bottom: 47px;
  color: #222222;
  text-align: center;
}

.section-questions__block {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.section-questions__block-question {
  font-weight: bold;
  font-size: rem(18);
  line-height: rem(22);
  color: #333333;
  display: block;
  margin-bottom: 11px;
}

.section-questions__block-text {
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  display: block;
  margin-bottom: 0;
}

@media (max-width: 767.98px) {
  .section-questions {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .section-questions__title {
    margin-bottom: 30px;
    line-height: normal;
  }

  .section-questions__block {
    margin-bottom: 24px;
  }

  .section-helpChoosing__btn {
    width: 290px;
    font-size: 14px;
  }

  .section-helpChoosing__text {
    font-size: 18px;
    line-height: normal;
  }
}