.section-other-projects {
  padding-top: 117px;
  padding-bottom: 30px;
}

.section-other-projects__title {
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.section-other-projects__subtitle {
  font-weight: bold;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  color: #444444;
  max-width: 921px;
  margin-left: auto;
  margin-right: auto;

  a {
    color: #444444;
    text-decoration: underline;
    text-decoration-color: #761A56;
  }
}

.section-other-projects__slider {

}

.section-other-projects__item {
  &:focus{
    border: none;
    outline: none;
  }
}

.section-other-projects__mob {
  display: none;
}

@media (max-width: 991.98px) {
  .section-other-projects {
    padding-top: 34px;
    padding-bottom: 28px;
  }
}

@media (max-width: 767.98px) {
  .section-other-projects__subtitle {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 19px;
  }

  .section-other-projects__title {
    margin-bottom: 17px;
  }
  
  .section-other-projects__dtp {
    display: none;
  }
  
  .section-other-projects__mob {
    display: block;
  }

  .section-other-projects__item {
    .row {
      margin-left: -10px;
      margin-right: -10px;
    }

    .col-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .section-other-projects__slider {
    padding-bottom: 42px;

    .slick-next, .slick-prev {
      bottom: 0;
      background: linear-gradient(180deg, #663755 3.04%, #1E203C 100%);
      border-radius: 50%;
      width: 38px;
      height: 38px;
      top: auto;
    }

    .slick-prev {
      left: 40%;
      transform: translateX(-50%);
    }

    .slick-next {
      left: 60%;
      transform: translateX(-50%);
    }

    .slick-next:before, .slick-prev:before {
      content: '';
      width: 10px;
      height: 18px;
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: url("../img/arrow-right-white.svg") no-repeat center;
      background-size: 100% auto;
    }

    .slick-prev:before {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
}
