.section-first {
  background: url("../img/bg-header.jpg") no-repeat center bottom;
  background-size: cover;
  padding-bottom: 35px;
}

.section-first__titleContainer {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #000000;
    opacity: 0.28;
    filter: blur(57px);
    width: 100%;
    height: 100%;
  }
}

.section-first__title {
  color: $white;
  text-transform: uppercase;
  display: block;
  margin-bottom: 12px;
  position: relative;
  z-index: 2;
}

.section-first__subTitle {
  font-weight: bold;
  font-size: rem(24);
  line-height: rem(30);
  color: $white;
  max-width: 470px;
  margin-bottom: 124px;
}

.section-first__footer {
  margin-top: 124px;
  display: flex;
  flex-direction: column;
}

.section-first__footer-list {
  display: flex;
  align-items: center;
}

.section-first__footer-text {
  font-weight: 600;
  font-size: rem(20);
  line-height: rem(24);
  text-transform: uppercase;
  color: $white;
  margin-bottom: 14px;
  display: block;
}

.section-first__footer-logo {
  margin-right: 38px;

  &:last-child {
    margin-right: 0;
  }
}

.section-first__wrapper {
  padding-top: 23px;
}

.section-first__block {
  margin-bottom: 33px;
}

.section-first__stepBack {
  display: inline-flex;
  align-items: center;

  &:hover {
    text-decoration: none;
  }

  span {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
}

.section-first__btnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: -8px;
  margin-right: -8px;
}

@media (max-width: 767.98px) {
  .section-first__subTitle {
    font-size: 18px;
    line-height: normal;
    margin-bottom: 22px;
  }

  .section.section-first {
    padding-top: 0;
  }

  .section-first__block {
    margin-bottom: 105px;
  }

  .section-first__footer {
    margin-top: 100px;
  }

  .section-first__footer-list {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .section-first__footer-text {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
  }

  .section-first__footer-logo {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 24px;
    width: 50%;
    display: flex;
    justify-content: center;

    * {
      max-width: 100%;
      transform: scale(0.9);
    }
  }

  .section.section-first {
    padding-bottom: 2px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .2);
    }
  }

  .section-first__stepBack span {
    font-size: 14px;
    line-height: 17px;
  }

  .section-first__title {
    font-size: 32px;
    line-height: 37px;
  }
}
