.section-certificate {
  padding-top: 67px;
  padding-bottom: 52px;
  min-height: 606px;
}

.section-certificate__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-certificate__wrapper-text {
  max-width: 448px;
}

.section-certificate__title {
  text-transform: uppercase;
  color: $font-color-9;
  display: block;
  margin-bottom: 26px;
  font-weight: 900;
}

.section-certificate__text {
  font-size: rem(14);
  line-height: rem(18);
  color: $font-color-9;
  margin-bottom: 0;
}

.section-certificate__block {
  display: flex;
  margin-bottom: 25px;

  &:last-of-type {
    margin-bottom: 34px;
  }
}

.section-certificate__block-circle {
  width: 61px;
  min-width: 61px;
  height: 61px;
  background: rgba(97, 54, 84, .1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 26px;
}

.section-certificate__icon1 {
  transform: translateX(3px);
}

.section-certificate__block-content {
  display: flex;
  flex-direction: column;
}

.section-certificate__block-title {
  font-weight: bold;
  font-size: rem(20);
  line-height: rem(25);
  text-transform: uppercase;
  color: $font-color-9;
  display: block;
  margin-bottom: 4px;
}

.section-certificate__btn {
  min-width: 297px;
  min-height: 52px;
  margin-left: 87px;
}

.section-certificate__slider {
  position: relative;
  height: 100%;
}

.section-certificate__img {
  box-shadow: 0 10px 26px rgba(112, 50, 114, 0.5);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.2s;

  &:hover {
    cursor: zoom-in;
  }
}

.section-certificate__img-1 {
  left: 49%;
  z-index: 1;
}

.section-certificate__img-2,
.section-certificate__img-3  {
  left: 0;
}

.img1:hover + .img2{
  opacity: 0;
}

.img2 {
  z-index: 2;
}

.img3 {
  z-index: 0;
}
