.section-review {
  padding-top: 43px;
  padding-bottom: 34px;
}

.section-review__title {
  display: block;
  margin-bottom: 43px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
}