.section-course-cost {
  padding-top: 55px;
  padding-bottom: 30px;
  background: #ffffff;
  position: relative;
  z-index: 10;
}

.section-course-cost__block {
  position: relative;
  background: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 96px;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 60px);
    height: calc(100% - 56px);
    background: #643755;
    filter: blur(20px);
    border-radius: 22px;
    z-index: 1;
  }
}

.section-course-cost__block-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 33px 30px 28px 30px;
  position: relative;
  z-index: 2;
}

.section-course-cost__block-elem {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section-course-cost__block-arrow {
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-course-cost__block-text {
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #444444;
}

.section-course-cost__block-price {
  font-weight: 900;
  font-size: 48px;
  line-height: 61px;
  text-align: center;
  color: #222222;
}

.section-course-cost__block-btn {
  width: 306px;
  height: 54px;
}

.section-course-cost__title {
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  display: block;
  margin-bottom: 53px;
}

.section-course-cost__listBlock {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 39px;
  border-bottom: 1px solid #E7E7E7;
  margin-bottom: 25px;

  span {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section-course-cost__text-container {
  padding-top: 40px;
  padding-bottom: 67px;
  min-height: 345px;
}

.section-course-cost__block-caption {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #CC1237;
  display: block;
  margin-top: 5px;
}

.section-course-cost__priceWrapper {
  display: flex;
  flex-direction: column;
}

.section-course-cost__priceOld {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-course-cost__oldPrice {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #777777;
  position: relative;

  &:before {
    content: '';
    width: 100%;
    height: 1px;
    background: #CC1237;
    transform: rotate(9.46deg);
    position: absolute;
    top: 16px;
    left: 0;
  }
}

.section-course-cost__percent {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: right;
  color: #CC1237;
}

.section-course-cost__text {
  font-size: 20px;
  line-height: 30px;
  color: #333333;
}

.section-course-cost__img-block {
  display: flex;
  justify-content: center;
  position: relative;

  img {
    max-width: 100%;
    position: absolute;
    top: 0;
  }
}

@media (max-width: 1199.98px) {
  .section-course-cost__block-wrapper {
    flex-direction: column;
  }

  .section-course-cost__block-arrow {
    display: none;
  }

  .section-course-cost__block-elem {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .section-course-cost__listBlock {
    flex-direction: column;
    align-items: flex-start;

    span {
      margin-bottom: 16px;
      text-align: left;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .section-course-cost__block-text {
    text-align: center;
  }
}

@media (max-width: 991.98px) {
  .section-course-cost__img-block {
    img {
      position: static;
    }
  }

  .section-course-cost__text-container {
    min-height: auto;
    padding-bottom: 20px;
  }

  .section-course-selection__block-wrapper {
    min-height: auto;
  }

  .section-course-selection__block-btn {
    margin-top: 30px;
  }

  .section-course-cost {
    padding-top: 20px;
  }

  .section-course-cost__block-arrow {
    display: block;
    transform: rotate(90deg);
    position: relative;
    width: 85px;

    .arrow-right {
      background: url("../img/arrow-right__mob.svg") no-repeat center;
      background-size: 100% auto;
      width: 60px;
      height: 14px;
      transform: rotate(-90deg);
    }
  }

  .section-course-cost__percent,
  .section-course-cost__oldPrice {
    font-size: 18px;
    line-height: 22px;
  }

  .section-course-cost__oldPrice:before {
    top: 11px;
  }
}

@media (max-width: 767.98px) {
  .section-course-cost__text {
    font-size: 16px;
    line-height: 18px;
  }

  .section-course-cost__listBlock {
    margin-bottom: 0;
    padding-bottom: 20px;
  }

  .section-course-cost__text-container {
    padding-top: 20px;
  }

  .section-course-cost__title {
    margin-bottom: 30px;
  }

  .section-course-cost__block-text {
    font-size: 20px;
    line-height: normal;
  }

  .section-course-cost__block-price {
    font-size: 36px;
    line-height: 45px;
  }

  .section-course-cost__block-btn {
    width: 227px;
    height: 52px;
    margin-top: 15px;
  }

  .section-course-cost__listBlock span {
    padding-left: 0;
    padding-right: 0;
  }

  .section-course-cost__block {
    margin-bottom: 40px;
  }
}
