.section-complex-plus {
  padding-bottom: 30px;
  padding-top: 30px;
}

.section-complex-plus__wrapper {
  background: linear-gradient(180deg, #A8156E 0%, #DD3132 100%);
  box-shadow: 0 10px 20px rgba(30, 32, 59, 0.15);
  border-radius: 10px;
  position: relative;
  margin-bottom: 3px;
  padding: 25px 0px 25px 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.active .section-complex-plus__wrapper-bg:before {
    content: '';
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(219, 48, 52, .3);
    filter: blur(20px);
    border-radius: 22px;
    width: calc(100% + 40px);
    height: 100px;
    -webkit-transition: .3s;
    transition: .3s;
  }
}

.section-complex-plus__wrapper.active {
  background: #fff;
}

.section-complex-plus__wrapper-bg {
  background: linear-gradient(180deg, #A8156E 0%, #DD3132 100%);
  border-radius: 13px;
  margin: -3px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  z-index: -1;
}

.section-complex-plus__container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -11px;
  margin-right: -3px;
  background: #fff;
  border-radius: 40px 0px 0px 40px;
  position: relative;
}

.active .section-complex-plus__container {
  background: transparent;
}

.section-complex-plus__container:before {
  position: absolute;
  content: "";
  display: block;
  left: 12%;
  right: 12%;
  top: 50px;
  bottom: 72px;
  border: 2px solid #e4e4e4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 65px;
}

.section-complex-plus__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  padding-right: 50px;
  width: 100%;
  max-width: 360px;
}

.link-all-p {
  width: 100%;
  text-align: center;
}


.see-all-program {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  background: url("../img/see-program.svg") no-repeat left center;
  padding-left: 20px;
  text-align: center;
  display: inline-block;
  margin: 60px auto 25  px;
  color: #CC1237;
}

.section-complex-plus__block-circle {
  border: 1px solid rgba(183, 30, 93, .5);
  background: #fff;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 34px;
  box-shadow: 0px 36px 22px rgba(0, 0, 0, 0.1);
}

.active .section-complex-plus__block-circle {
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
}

.section-complex-plus__block-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  display: block;
  text-align: center;
  margin-bottom: 11px;

  span {
    background: #fff;
    display: inline-block;
    padding: 1px 4px 0px 4px;
    border-radius: 18px;

    span {
      background: linear-gradient(270deg, #4FBF7C 0%, #4358A4 55.03%, #D74984 112.5%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

  }
}

.active .section-complex-plus__block-title {
  color: #333;
}

.active .section-complex-plus__block-text {
  color: #555;
}

.active .section-complex-plus__btn {
  background-color: #cc1237;
  border-color: #cc1237;
  .section-course-selection__block-btn-close {
    color: #fff;
  }
}

.section-complex-plus__block-text {
  font-weight: bold;
  padding-top: 10px;
  font-size: 21px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
}

.section-complex-plus__btn {
  min-width: 239px;
  min-height: 54px;
  margin-top: 56px;
  padding: 0;

  span, a {
    padding: .375rem .75rem;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #CC2946;

    &:hover {
      text-decoration: none;
    }
  }
}

.section-complex-plus__wrapper.active {
  .section-complex-plus__wrapper-bg {
    background: #FFFFFF;
  }
}

@media (max-width: 1199.98px) {
  .section-complex-plus__block {
    padding-right: 50px;
  }
}

@media (max-width: 991.98px) {
  .section-complex-plus__wrapper {
    flex-direction: column;
  }

  .section-complex-plus__btn {
    margin-top: 20px;
  }

  .see-all-program {
    margin: 10px auto 20px;

  }



  .section-complex-plus__block {
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: inherit;
  }
}


