.section-module-program {
  padding-top: 25px;
}

.section-module-program__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
  display: block;
  margin-bottom: 16px;
}
