.alipay-logo {
  background: url("../img/alipay-logo.png") no-repeat center;
  background-size: 100% auto;
  width: 150px;
  height: 52px;
  display: block;
}

.wp-logo {
  background: url("../img/wp-logo.png") no-repeat center;
  background-size: 100% auto;
  width: 150px;
  height: 46px;
  display: block;
}

.sendy-logo {
  background: url("../img/sendy-logo.png") no-repeat center;
  background-size: 100% auto;
  width: 110px;
  height: 55px;
  display: block;
}

.client-logo-1 {
  background: url("../img/client-logo-1.png") no-repeat center;
  background-size: 100% auto;
  width: 218px;
  height: 96px;
  display: block;
}

.client-logo-2 {
  background: url("../img/client-logo-2.png") no-repeat center;
  background-size: 100% auto;
  width: 218px;
  height: 96px;
  display: block;
}

.client-logo-3 {
  background: url("../img/client-logo-3.png") no-repeat center;
  background-size: 100% auto;
  width: 218px;
  height: 96px;
  display: block;
}

.client-logo-4 {
  background: url("../img/client-logo-4.png") no-repeat center;
  background-size: 100% auto;
  width: 218px;
  height: 96px;
  display: block;
}

.client-logo-5 {
  background: url("../img/client-logo-5.png") no-repeat center;
  background-size: 100% auto;
  width: 218px;
  height: 96px;
  display: block;
}

.arrow-right {
  background: url("../img/arrow-right.svg") no-repeat center;
  background-size: 100% auto;
  width: 28px;
  height: 79px;
  display: block;
}

.social-network-china {
  background: url("../img/social-network-china.svg") no-repeat center;
  background-size: 100% auto;
  width: 46px;
  height: 50px;
  display: block;
}

.social-media-1 {
  background: url("../img/social-media-1.svg") no-repeat center;
  background-size: 100% auto;
  width: 50px;
  height: 50px;
  display: block;
}

.account-icon {
  background: url("../img/account-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 45px;
  height: 45px;
  display: block;
}

.social-media-2 {
  background: url("../img/social-media-2.svg") no-repeat center;
  background-size: 100% auto;
  width: 44px;
  height: 44px;
  display: block;
}

.phone-icon {
  background: url("../img/phone-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 18px;
  height: 19px;
  display: block;
}

.email-phone {
  background: url("../img/email-phone.svg") no-repeat center;
  background-size: 100% auto;
  width: 18px;
  height: 14px;
  display: block;
}

.facebook-footer {
  background: url("../img/facebook-footer.svg") no-repeat center;
  background-size: 100% auto;
  width: 20px;
  height: 20px;
  display: block;
}

.telegram-icon {
  background: url("../img/telegram-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 20px;
  height: 18px;
  display: block;
}

.time-icon {
  background: url("../img/time-f.svg") no-repeat center;
  background-size: 100% auto;
  width: 20px;
  height: 20px;
  display: block;
}

.footer-logo {
  background: url("../img/footer-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 127px;
  height: 32px;
  display: block;
}

.student-icon {
  background: url("../img/student-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 67px;
  height: 67px;
  display: block;
}

.salesman-icon {
  background: url("../img/salesman-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 69px;
  height: 69px;
  display: block;
}

.guru-master-icon {
  background: url("../img/guru-master-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 39px;
  height: 62px;
  display: block;
}

.icon-close {
  background: url("../img/icon-close.svg") no-repeat center;
  background-size: 100% auto;
  width: 14px;
  height: 14px;
  display: block;
}

.logo {
  background: url("../img/main-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 200px;
  height: 50px;
  display: block;
}

.stepBack-icon {
  background: url("../img/stepBack-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 24px;
  height: 24px;
  display: block;
}

.smartphone-icon {
  background: url("../img/smartphone-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 20px;
  height: 20px;
  display: block;
}

.video-files {
  background: url("../img/video-files.svg") no-repeat center;
  background-size: 100% auto;
  width: 53px;
  height: 53px;
  display: block;
}

.time-icon {
  background: url("../img/time-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 59px;
  height: 59px;
  display: block;
}

.online-icon {
  background: url("../img/online-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 57px;
  height: 57px;
  display: block;
}

.woman-icon {
  background: url("../img/woman-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 61px;
  height: 61px;
  display: block;
}

.multichannel-icon {
  background: url("../img/Multichannel-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 67px;
  height: 75px;
  display: block;
}

.wechat-icon {
  background: url("../img/wechat-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 52px;
  height: 45px;
  display: block;
}

.marketplaces-china-icon {
  background: url("../img/marketplaces-china.svg") no-repeat center;
  background-size: 100% auto;
  width: 50px;
  height: 38px;
  display: block;
}

.douyin-kuaishou-icon {
  background: url("../img/douyin-kuaishou.svg") no-repeat center;
  background-size: 100% auto;
  width: 39px;
  height: 44px;
  display: block;
}

.influencer-icon {
  background: url("../img/influencer-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 46px;
  height: 46px;
  display: block;
}

.Bilibili_Logo_Blue {
  background: url("../img/Bilibili_Logo_Blue.svg") no-repeat center;
  background-size: 100% auto;
  width: 65px;
  height: 30px;
  display: block;
}

.Subtract-icon {
  background: url("../img/Subtract-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 46px;
  height: 50px;
  display: block;
}

.resume-icon {
  background: url("../img/resume-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 33px;
  height: 33px;
  display: block;
}

.candidates-icon {
  background: url("../img/candidates-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 35px;
  height: 35px;
  display: block;
}

.goal-icon {
  background: url("../img/goal-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 32px;
  height: 32px;
  display: block;
}

.woman-icon-2 {
  background: url("../img/woman-icon-2.svg") no-repeat center;
  background-size: 100% auto;
  width: 51px;
  height: 51px;
  display: block;
}

.movie-player-icon {
  background: url("../img/movie-player-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 51px;
  height: 51px;
  display: block;
}

.module-icon {
  background: url("../img/module-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 53px;
  height: 53px;
  display: block;
}

.piggy-bank-icon {
  background: url("../img/piggy-bank-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 52px;
  height: 53px;
  display: block;
}

.clock-icon {
  background: url("../img/clock-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 46px;
  height: 46px;
  display: block;
}

.experience-icon {
  background: url("../img/experience-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 50px;
  height: 50px;
  display: block;
}

.youtube-icon {
  background: url("../img/youtube-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 20px;
  height: 20px;
  display: block;
}

.video-files-icon {
  background: url("../img/video-files-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 22px;
  height: 22px;
  display: block;
}

.time-icon-v2 {
  background: url("../img/time-icon-v2.svg") no-repeat center;
  background-size: 100% auto;
  width: 23px;
  height: 23px;
  display: block;
}

.review-icon {
  background: url("../img/review-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 62px;
  height: 62px;
  display: block;
}

.mob-apps {
  background: url("../img/mob-apps.svg") no-repeat center;
  background-size: 100% auto;
  width: 69px;
  height: 68px;
  display: block;
}

.baidu-seo-icon {
  background: url("../img/baidu-seo-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 50px;
  height: 75px;
  display: block;
}

.voice-search-icon {
  background: url("../img/voice-search-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 60px;
  height: 60px;
  display: block;
}

.baidu-search-logo {
  background: url("../img/baidu-search-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 47px;
  height: 81px;
  display: block;
}

.chinese-face-icon {
  background: url("../img/chinese-face-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 69px;
  height: 69px;
  display: block;
}

.baidu-ads-logo {
  background: url("../img/baidu-ads-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 47px;
  height: 79px;
  display: block;
}

.Youku_logo {
  background: url("../img/Youku_logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 90px;
  height: 18px;
  display: block;
}

.Bilibili_Logo_Blue-v2 {
  background: url("../img/Bilibili_Logo_Blue-v2.svg") no-repeat center;
  background-size: 100% auto;
  width: 87px;
  height: 40px;
  display: block;
}

.qiy-logo {
  background: url("../img/qiy-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 48px;
  height: 39px;
  display: block;
}

.influencer-logo2 {
  background: url("../img/influencer-logo2.svg") no-repeat center;
  background-size: 100% auto;
  width: 62px;
  height: 62px;
  display: block;
}

.sina-weibo-logo {
  background: url("../img/sina-weibo-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 75px;
  height: 61px;
  display: block;
}

.douyin-logo {
  background: url("../img/douyin-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 52px;
  height: 58px;
  display: block;
}

.logosvg-com-logo {
  background: url("../img/logosvg-com-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 58px;
  height: 29px;
  display: block;
}

.marketplace-logo {
  background: url("../img/marketplace-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 66px;
  height: 50px;
  display: block;
}

.pundoduo_logo {
  background: url("../img/pundoduo_logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 57px;
  height: 43px;
  display: block;
}

.license-logo {
  background: url("../img/license-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 45px;
  height: 45px;
  display: block;
}

.calendar-icon {
  background: url("../img/calendar-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 47px;
  height: 47px;
  display: block;
}

.human3-icon {
  background: url("../img/human3-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 42px;
  height: 45px;
  display: block;
}

.woman-3-icon {
  background: url("../img/woman-3-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 47px;
  height: 47px;
  display: block;
}

.section-course-selection__block.active {
  .wechat-icon {
    background: url(../img/wechat-icon__active.svg) center/100% auto no-repeat;
  }

  .marketplace-logo {
    background: url(../img/marketplace-logo__active.svg) center/100% auto no-repeat;
  }

  .pundoduo_logo {
    background: url(../img/pundoduo_logo__active.svg) center/100% auto no-repeat;
  }

  .logosvg-com-logo {
    background: url(../img/logosvg-com-logo__active.svg) center/100% auto no-repeat;
  }

  .douyin-logo {
    background: url(../img/douyin-logo__active.svg) center/100% auto no-repeat;
  }

  .sina-weibo-logo {
    background: url(../img/sina-weibo-logo__active.svg) center/100% auto no-repeat;
  }

  .influencer-logo2 {
    background: url(../img/influencer-logo2__active.svg) center/100% auto no-repeat;
  }

  .Youku_logo {
    background: url(../img/Youku_logo__active.svg) center/100% auto no-repeat;
  }

  .Bilibili_Logo_Blue-v2 {
    background: url(../img/Bilibili_Logo_Blue-v2__active.svg) center/100% auto no-repeat;
  }

  .baidu-ads-logo {
    background: url(../img/baidu-ads-logo__active.svg) center/100% auto no-repeat;
  }

  .chinese-face-icon {
    background: url(../img/chinese-face-icon__active.svg) center/100% auto no-repeat;
  }

  .baidu-search-logo {
    background: url(../img/baidu-search-logo__active.svg) center/100% auto no-repeat;
  }

  .voice-search-icon {
    background: url(../img/voice-search-icon__active.svg) center/100% auto no-repeat;
  }

  .baidu-seo-icon {
    background: url(../img/baidu-seo-icon__active.svg) center/100% auto no-repeat;
  }

  .mob-apps {
    background: url(../img/mob-apps__active.svg) center/100% auto no-repeat;
  }

  .qiy-logo {
    background: url(../img/qiy-logo__active.png) center/100% auto no-repeat;
  }
}
